.header {
    background: #2C3E50;
    height: 70px;
    color: white;
}
.main {
    background: #1ABC9C;
    height: 500px;
}
.main1 {
    height: 600px;
}
.main2 {
    background: #1ABC9C;
    height: 400px;
}
.main3 {
    height: 600px;
}
.footer {
    background: #3A546D;
    height: 200px;
}
.footer1 {
    background: #2C3E50;
    height: 70px;
}